<h5 class="mb-3"><i class="fas fa-map-marker-alt me-2"></i>Location Details</h5>

<div class="row">
    <div class="col-12 mb-3">
        <label class="form-label fw-semibold">Geographic Countries</label>
        <div class="row">
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="geo_country" value="CAN" id="can">
                    <label class="form-check-label" for="can">Canada</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="geo_country" value="IND" id="ind">
                    <label class="form-check-label" for="ind">India</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="geo_country" value="PHL" id="phl">
                    <label class="form-check-label" for="phl">Philippines</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="geo_country" value="TTO" id="tto">
                    <label class="form-check-label" for="tto">Trinidad and Tobago</label>
                </div>
            </div>
        </div>
    </div>
</div>