<h5 class="mb-3"><i class="fas fa-info-circle me-2"></i>Ramp Details</h5>

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="client_name" class="form-label fw-semibold">Client Name</label>
        {{ form.client_name(class="form-control") }}
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="ramp_requirement" class="form-label fw-semibold">Ramp Requirement</label>
        {{ form.ramp_requirement(class="form-control") }}
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="ramp_start_date" class="form-label fw-semibold">Ramp Start Date</label>
        {{ form.ramp_start_date(class="form-control") }}
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="ramp_end_date" class="form-label fw-semibold">Ramp End Date</label>
        {{ form.ramp_end_date(class="form-control") }}
    </div>
</div>